.navbar-brand.logo_h img{
    width: 15rem;
}

.ti-bag{
    color: #7ad75d;
}

.ti-bag:hover{
    color: white;
}

.ti-bag.active{
    color: white;
}

.content{
    position: relative;
    bottom: 4rem;
}

.container.shop{
    position: relative;
    top: 7rem;
}

.cart_area.cart{
    position: relative;
    top: 7rem;
}

.product_image_area.product{
    position: relative;
    top: 7rem;
}

.checkout_area.section_gap.checkout{
    position: relative;
    top: 7rem;
}

.order_details.section_gap.details{
    position: relative;
    top: 7rem;
}

@media (max-width : 414px){
    .container.shop{
        top: 4rem;
    }
    .cart_area.cart{
        top: auto;
        padding-top: 80px;
    }
    .product_image_area{
        padding-top: 80px;   
    }
    .product_image_area.product{
        top: auto;
        margin-bottom: 2rem;
    }
    .checkout_area.section_gap.checkout{
        position: relative;
        top: 3rem;
    }
    .order_details.section_gap.details{
        position: relative;
        top: 3rem;
    }
    .col-lg-4{
        margin-bottom: 2rem;
    }
    .navbar-brand.logo_h img{
        width: 10rem;
    }
    .login_box_area .login_box_img{
        right: 15px;
    }
    .login_box_area .login_box_img.signup{
        right: 15px;
    }
    .header_area .navbar .nav .nav-item:last-child{
        align-self: auto;
    }
    .header_area .navbar{
        padding: 5px;
    }

}